[theme="default"] {
    --versionTxt_bgcolor: blue;
    --versionTxt_color: white;
}

#version_text {
    background-color: var(--versionTxt_bgcolor);
    color: var(--versionTxt_color);
    
    font-family: monospace;

    background-size: cover;
}

#banner {
    background-image: url('/assets/img/revision4.png');
    color: white;

    background-repeat: no-repeat;
    background-size: cover;
   
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
    padding: 25px;
    margin-top: -5px;
}